@use 'mixins.scss' as *;

.container {
  display: grid;
  gap: calc(var(--base-unit) * 2);

  grid-template-columns: repeat(1, 1fr);

  @include respond-to(small) {
    grid-template-columns: repeat(2, 1fr);
  }

  @include respond-to(medium) {
    grid-template-columns: repeat(4, 1fr);
  }

}

.card {
  border: 1px solid var(--border-color);
  display: block;
  border-radius: calc(var(--base-unit) / 2);

  &:focus {
    @include focus
  }

  .image {
    position: relative;
    height: 100px;
    background-color: #F9FAFA;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .imageOverlay {
    position: absolute;
    right: var(--base-unit);
    top: var(--base-unit);
  }
  
  .label {
    color: var(--color-text-highlighted);
    background: #FFFFFF;
    padding: calc(var(--base-unit) / 4);
    font-size: var(--font-size-small);
  }
  
  .description {
    padding: calc(var(--base-unit) * 2) var(--base-unit) var(--base-unit);
  }
  
  .title {
    margin-bottom: calc(var(--base-unit) * 3.5);
  }
  
  .shortnames {
    font-size: var(--font-size-small);
    color: var(--color-text-secondary)
  }
}
