@mixin focus {
  outline: none;
  box-shadow: 0 0 0 var(--focus-width) var(--color-primary);
}

$breakpoints: (
  xsmall: 0,
  small: 320px,
  medium: 768px,
  large: 1024px
);

@mixin respond-to($device) {
  $min-width: map-get($breakpoints, $device);
  @media (min-width: $min-width) {
    @content;
  }
}