.small {
  font-size: var(--font-size-small);
}

.colorHighlighted {
  color: var(--color-text-highlighted);
}

.colorSecondary {
  color: var(--color-text-secondary);
}

.weightMedium {
  font-weight: var(--font-weight-medium);
}
