@use 'mixins.scss' as *;

.container {
  padding: var(--base-unit) 0;

  @include respond-to(medium) {
    justify-content: space-between;
    display: flex;
  }
}

.query {
  width: 100%;

  @include respond-to(medium) {
    display: flex;
    gap: calc(var(--base-unit) * 2);
    align-items: center;
  }  
}

.count {
  color: var(--color-text-secondary);
  font-size: var(--font-size-small);
  display: none;

  @include respond-to(medium) {
    display: block;
  }
}

.controls {
  display: flex;
  gap: calc(var(--base-unit) * 3);
  align-items: center;
  justify-content: flex-end;
}

