@use 'mixins.scss' as *;

.container {
  position: relative;
}

.filterToggle {
  appearance: none;
  background: none;
  border: none;
  cursor: pointer;

  color: var(--color-text-secondary);
  
  &:hover {
    color: var(--color-text-highlighted);
  }

  &:focus {
    @include focus;
  }
}

.filters {
  position: absolute;
  margin-top: var(--base-unit);
  right: 0;
  opacity: 0;
  transition: opacity 0.2s;
  visibility: hidden;

  display: flex;
  flex-direction: column;
  gap: var(--base-unit);

  background-color: #fff;
  padding: calc(var(--base-unit) * 2);
  box-shadow: 0px 10px 38px -12px rgba(0,0,0,0.68);

  border-radius: var(--base-unit);

  z-index: 1;

  transform: translateX(50%);

  @include respond-to(medium) {
    transform: none;
  }
}

.visible {
  opacity: 1;
  visibility: visible;
}

.filter {
  display: flex;
  gap: var(--base-unit);
  text-wrap: nowrap;
}