@use 'mixins.scss' as *;


.container {
  position: relative;
}

.input {
  padding: var(--base-unit);
  border: transparent;
  border-radius: var(--border-radius-small);
  background-color: var(--input-background);

  &:hover {
    background-color: var(--input-background-hover);
  }

  &:focus {
    @include focus;
  }

  width: 100%;
  @include respond-to(medium) {
    width: 300px;
  }
}

.result {
  width: 100%;
  margin-top: var(--base-unit);
  padding: calc(var(--base-unit) / 2);
  position: absolute;
  overflow: scroll;
  z-index: 1;
  border-bottom-left-radius: var(--base-unit);
  border-bottom-right-radius: var(--base-unit);
  box-shadow: 0px 10px 38px -12px rgba(0,0,0,0.68);
  max-height: 50vh;
}

.resultItem {
  background-color: #fff;
  display: block;

  &:hover, &:focus {
    background-color: rgb(244, 245, 246);
  }

  padding: var(--base-unit)
}